<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
	<head>
		<title>Events APP</title>
		
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
		
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		<link rel="stylesheet" href="/style/style.css">
	</head>
	<body>
	
		<header>
			<nav>
			   <div class="nav-wrapper">
			     <a class="brand-logo"><span th:text="${event.name}"></span></a>
			     <ul id="nav-mobile" class="right hide-on-med-and-down">
			       <li><a href="/events" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Back to list</a></li>
			     </ul>
			   </div>
			 </nav>
		</header>
		
		<div class="container eventDetails">
			<h5>Event Detail</h5>
			<div class="row">
				<div class="col s6">
					Locale: <span th:text="${event.locale}"></span>
				</div>
				<div class="col s3">
					Date: <span th:text="${event.date}"></span>
				</div>
				<div class=" col s3">
					Time: <span th:text="${event.time}"></span>
				</div>
			</div>
			
			<th:block th:include="msgValidation" />
			
		</div>
		<div class="container formInvited">
			<form method="post">
				Name: <input type="text" value="" name="name" placeholder="Complete name">
				National ID: <input type="text" value="" name="nationalID" placeholder="National ID">
				
				<button class="btn waves-effect waves-light" type="submit">Add
					<i class="material-icons left">add_circle_outline</i>
				</button>
			</form>
			<div class="tableInvited">
				<h5>List of inviteds</h5>
				<table class="highlight">
					<thead>
						<tr>
							<th>Name</th>
							<th>National ID</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="invited : ${event.inviteds}">
							<td><span th:text="${invited.name}"></span></td>
							<td><span th:text="${invited.nationalID}"></span></td>
							<form th:method="delete" action="#" th:action="@{'/deleteInvited/{id}/{nationalId}'(id=${event.id},nationalId=${invited.nationalID})}">
								<td><button class="btn-floating waves-effect waves-light" type="submit"><i class="material-icons left">delete</i></button></td>
							</form>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		
		<!--JavaScript at end of body for optimized loading-->
      	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	</body>
</html>